@import 'tailwindcss';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@theme {
  --color-background: hsl(240, 10%, 3.9%);
  --color-primary-foreground: hsl(240 5.9% 10%);
  --color-muted-foreground: hsl(240 5% 64.9%;)
}