.layer-phone {
  animation: none !important;
  position: relative;
  aspect-ratio: 9/16;

  border-radius: 0.61rem;
  box-sizing: border-box;
  border: 0.61rem solid #191919;
  position: relative;
  z-index: 20;
  transition: all 0.275s ease-in-out 0s;
  left: 0%;
  top: 0;
  scale: 1;
  rotate: 0deg;
  overflow: hidden;
  box-shadow:
    0px 0px 0px #000,
    0px 0px 0px #222,
    0px 0px 0px #000;
  cursor: pointer;
  background: #1e1e1e;
}

.layer-phone.open {
  top: calc(-50% + 0.5em);
  transition: all 0.275s ease-in-out 0.2s;
  box-shadow:
    0.5px 0.5px 0px #000,
    -0.5px -0.5px 0px #222,
    -10px -10px 20px #000;
  cursor: default;
}

.layer-phone > div {
  position: absolute;
  border-radius: 0.61rem;
  box-sizing: border-box;
  overflow: hidden;
}

.lockscreen {
  --trackerHeight: 2.5rem;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding-top: 100px;
  background-position: 50%;
  box-sizing: border-box;
  opacity: 1;
  transition:
    margin-top 0.5s ease-in-out,
    opacity 0.4s ease-in-out 0.1s;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-image: url('../../../../public/peakpx.jpg');
}

.layer-phone .hide {
  margin-top: -100cqh;
  opacity: 0;
}

.lockscreen > button {
  width: 100%;
  height: 100%;
}

.phone-island {
  position: absolute;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  top: -0.5rem;
  height: 1.75rem;
  background: #191919;
  border-radius: 0 0 0.61rem 0.61rem;
  width: 40%;
}

.phone-island:before {
  position: absolute;
  content: ' ';
  background-color: #2d2d2d99;
  border-radius: 20px;
  left: 50%;
  height: 0.4rem;
  transform: translateX(-50%);
  width: 40%;
  bottom: 0.55rem;
}

.phone-camera {
  position: absolute;
  width: 0.65rem;
  height: 0.65rem;
  background: #2d2d2d99;
  right: 0.6rem;
  bottom: 0.42rem;
  border-radius: 100px;
}

.phone-camera:before {
  content: ' ';
  width: 100%;
  height: 100%;
  background: radial-gradient(#000, #15283999 60%);
  display: block;
  border-radius: 100px;
}

.phone-status {
  top: 0.2rem;
  right: 0.2rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0.1em 0.3em;
  gap: 0.33em;
  align-items: center;
  z-index: 100;
}

.tempsize {
  width: 359px;
  height: 700px;
}

.tempwhite {
  color: white;
}
